<html>

<body>
<div>
    <p>
        <a href="http://localhost:8080/uploadFile">Загрузить статью</a>
    </p>
</div>
    <div>Статьи</div>
    {{#articles}}
        <div>
            <p>
            <b>{{name}}</b><br>
                <span>{{text}}</span>
            </p>
        </div>
    {{/articles}}

</body>
</html>