<html>

<body>
<!--<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите текст статьи" />
        <input type="text" name="name" placeholder="Название">
        <button type="submit">Добавить</button>
    </form>
</div>-->
<div>
    <p>
        <a href="http://localhost:8080/uploadFile">Загрузить статью</a>
    </p>
</div>
<!--<div>
    <form action="http://localhost:8080/uploadFile" method="post" enctype="multipart/form-data">
        <p><input type="file" name="file" accept=".zip">
        <p><button type="submit">Загрузите zip файл</button>
    </form>
</div>-->
    <div>Статьи</div>
    {{#articles}}
        <div>
            <p>
            <b>{{name}}</b><br>
                <span>{{text}}</span>
            </p>
        </div>
    {{/articles}}

</body>
</html>